@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.5%; // 15px
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; // 14px
    }
}

:root {
    --purple-500: #7C3AED;
    --purple-400: #894FED;
    --purple-250: #CAB3FF;
    --purple-100: #E2D6FF;

    --brown-900: #242424;
    --brown-800: #403937;
    --brown-700: #505059;
    --brown-600: #756966;
    --brown-500: #7C7C8A;
    --brown-100: #C7C7CD;
    --brown-50: #E3E3E3;

    --white: #FBFAFF;
}

/* DEFAULT */
body {
    background-color: var(--purple-500);
}

body * {
    font-family: "Inter", sans-serif;
}

main {
    background: var(--white);

    height: 100%;
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    & section {
        padding: 2rem 3rem;
    }
}

h1 {
    color: var(--brown-800);
}

button, input {
    background: transparent;
    border: none;
}

input:focus, button:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }
  
::-webkit-scrollbar-track {
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: var(--brown-800);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--brown-500);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* CLASSES */
.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    border: 2px solid var(--brown-100);
}

.active-link {
    color: var(--white) !important;
    font-weight: 700 !important;
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background: var(--purple-400);
    color: var(--white);
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    border-radius: 4px;
  
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.btn-secondary {
    border: 1px solid var(--purple-400);
    border-radius: 4px;
    padding: 1rem;
    font-size: 0.875rem;
    color: var(--purple-100);
    
    transition: all 0.3s;
    cursor: pointer;

    & i {
        font-size: 1.5rem;
    }

    &:hover {
        color: var(--white);
        border-color: var(--purple-100);
    }

    &:focus {
        outline: 1px solid var(--white);
    }

    &:active {
        opacity: 0.25;
    }
}

.btn-filter {
    height: 100%;

    & i {
        font-size: 1.25rem;
    }

    & span {
        display: none;
    }
}

.navlink {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: var(--purple-250);
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--white);
    }

    &:focus{
        outline: 1px solid var(--white);
    }
    
    & i {
        font-size: 1.5rem;
        display: block;
    }
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  
}

.show {
    display: flex;
}

.heading {
    color:  var(--brown-800);
    font-weight: 700;
}

.input-search-box {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.25rem;
    box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
    border: 1px solid var(--brown-50);
    background-color: var(--white);

    border-radius: 4px;
    
    & i, input {
        color: var(--brown-700);
    }

    & input {
        flex: 1;
    }

    &:focus-within {
        outline: 1px solid var(--purple-500);
    }

    &:hover{
        opacity: 0.75;
    }
}

.task-board {
    display: flex;
    flex-direction: column;

    & h2 {
        padding: 1.5rem;
        font-size: 1.25rem;
    }
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.5rem;
    min-height: 150px;
    margin-bottom: 1rem;
}

.empty-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    & span {
        font-size: 0.875rem;
        color: var(--brown-100);
        text-align: center;
    }
}

.task {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem;
    width: 100%;

    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 4px 16px #EAE2FD;

    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 16px #CAB3FF;
        cursor: pointer;
    }

    & h3, p {
        font-size: 0.875rem;
    }

    & p {
        font-weight: 600;
        color: var(--brown-600);
    }
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-item {
    background-color: var(--purple-250);
    border-radius: 8px;
    padding: 0.25rem 0.5rem;

    & span {
        color: var(--purple-500);
        font-size: 0.75rem;
        font-weight: 600;
    }
}

/* ID */
#container {
    width: 100%;
    background: var(--purple-500);
    height: 100dvh;

    & header {
        padding: 1.25rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    & main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

#menu-top {
    display: flex;
    justify-content: space-between;
}

#menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#kanban-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 1.5rem;

        overflow: hidden;

        & i {
            color: var(--brown-100);
            cursor: pointer;

            transition: all 0.3s;
        }

        & i:hover {
            color: var(--purple-500);
        }
    }
}

#kanban-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    height: 48px;
    padding: 0 1.5rem;
}

#kanban-todo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.5rem;

    width: 100%;
    overflow: auto;
}

#board-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}


/* MEDIA QUERIES */
/* SMALL DEVICES */
@media(max-width: 400px) {
    .avatar {
        display: none;
    }

    .navlink {
        flex-direction: row;

        &:last-child {
            margin-bottom: 1rem;
        }

        & i {
            display: none;
        }
    }

    #menu-link {
        flex-direction: column;
    }

    #kanban-search button {
        display: none;
    }
}

/* TABLET */
@media(min-width: 768px) {

    body {
        overflow: hidden;
    }

    #container  {
        display: flex;
        flex-direction: row;
        padding-top: 4px;
        
        & header {
            gap: 5rem;
        }

        & main {
            border-top-right-radius: 0px;
            height: 100dvh;
        }
    }

    #menu-top button{
        display: none;
        overflow: hidden;
    }

    #kanban-info {
        font-size: 2rem;
    }

    #kanban-todo {
        gap: 3rem;
    }


    #board-list {
        flex-direction: row;
        justify-content: flex-start;
    
        max-width: 550px;
        height: 100vh;
    }

    #menu-link {
        display: flex;
        flex-direction: column;
        width: 80px;
        transition: width 0.5s ease-in;
    }

    .btn-filter {   
        & span {
            display: block;
        }
    }

    .task-list {
        width: 320px;
        min-height: 300px;
    }

    .navlink {
        display: flex;
        gap: 1rem;
    }

    .empty-board {
        width: 160px;
    }
}

/* LAPTOP */
@media(min-width: 962px) {
    #menu-link {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 160px;
        gap: 2rem;


        & .navlink {
            flex-direction: row;
            justify-content: start;
            gap: 1.25rem;

            & i {
                width: 1.5rem;
            }
        }
    }
}