@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15px
    }
}


:root {
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-300: #D1D5DB;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50: #F9FAFB;

    --purple: #9333EA;
    --purple-light: #A855F7;

    --green: #6EE7B7;
    --red: #FB7185;
}

body {
    background-color: var(--gray-800);
    color: var(--gray-200);
    font-family: "Source Sans 3", sans-serif;
}

input {
    all: unset;

    background-color: var(--gray-900);
    border: 1px solid var(--gray-700);
    padding: 0.75rem;

    transition: all 0.3s;
}

button, input {
    font-family: "Source Sans 3", sans-serif;
    border-radius: 4px;
}

input:focus-within {
    outline: 1px solid var(--purple);
}

input:hover {
    border-color: var(--gray-500);
}

input::placeholder {
    color: var(--gray-500);
}

/* REMOVE OS ICONES NATIVOS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* ID's */
#container {
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding: 2rem 1.5rem;
}

/* Classe */
/* CARTÃO */
.card {
    background: url(./assets/background-card.png) no-repeat;
    width: 280px;
    height: 168px;
    
    border-radius: 16px;
    border: 1px solid #374151;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);

    margin-top: 4rem;
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: column;
}

.card-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.card-number {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 4px;
        color: var(--gray-50);
        font-size: 1.125rem;
        font-weight: 600;
    }
}

.card-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    & span {
        color: var(--gray-50);
        font-size: 0.875rem;
    }
}

.card-validity-date {
    letter-spacing: 6px;
    font-weight: 700;
}

/* FORMULARIO */
.card-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 0.875rem;
    font-weight: 600;
    color: var(--gray-200);

    & span {
        display: flex;
        gap: 0.5rem;
    }   

    & span img {
        height: 16px;
        cursor: pointer;
    }
}

.form-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
    & .input-box:first-child {
        flex: 1;
        min-width: 150px;
    }

    & .input-box:last-child {
        flex: 0.5;
        min-width: 80px;
    }
}

/* INFORMAÇÕES */
.safe-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 0.875rem;
}

/* BOTÃO SALVAR */
.btn-add-card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    padding: 1rem 3rem;
    margin-top: 1.75rem;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    background-color: var(--purple);

    font-weight: 700;
    color: var(--gray-50);
    line-height: 24px;
    
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: var(--purple-light);
    }

    &:focus {
        outline: 1px solid var(--gray-50);
        border-color: var(--gray-800);
    }
    &:disabled {
        background-color: var(--gray-500);
        color: var(--gray-400);
        cursor: not-allowed;
    }
}

/* MULTI USO */
.text-empty {
    color: var(--gray-50);
    opacity: 0.5;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-invalid {
    border-color: var(--red);

    &:hover {
        border-color: var(--red);
        outline: 
    }

    &:focus-within {
        outline: 1px solid var(--red);
    }
}

.text-invalid {
    color: var(--red);
    font-weight: 500;
    font-size: 0.75rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
    html, body {
        height: 100%;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    body {
        background-color: var(--gray-900);
    }

    #container {
        background-color: var(--gray-800);
        max-width: 736px;
        height: 420px;
        margin: auto;

        border-radius: 8px;
        border: 1px solid var(--gray-700);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-template-rows: repeat(3, 1fr);
        align-items: flex-start;
        gap: 3rem 2rem;        

        grid-template-areas: 
        "form card"
        "form safe"
        "button button";
    }



    .card {
        grid-area: card;
        margin-top: 1rem;
    }

    .card-info {
        grid-area: form;
    }

    .btn-add-card {
        grid-area: button;
    }

    .card-particial-number {
        font-size: 1rem;
    }

    /* INFORMAÇÕES */
    .safe-info {
        grid-area: safe;
        justify-content: center;
        margin-right: 47px;
    }

    .btn-add-card {
        font-size: 1rem;
        margin-top: 0;
    }
}