@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15px
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; // 14px
    }
}

:root {
    --purple-900: #0F0D13;
    --purple-700: #2A2141;
    --purple-500: #8B71D2;
    
    --heading: #E1E1E6;
    --text: #E1E1E6;
    --accent: #C4C4CC;
    --slider-bar:#D9D9D9;

    --white: #E1E1E6;
}

body {
    background-color: var(--purple-900);
    color: var(--text);
}

body * {
    font-family: "Roboto";
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    place-items: center;

    height: 100vh;
}
    
.player {
    background-color: var(--purple-700);
    padding: 2.5rem;
    border-radius: 0.5rem;
    gap: 1.75rem;

    max-width: 265px;
}

.player-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.music-info p {
    font-size: 1.5rem;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-info span {
    color: var(--text);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.controllers button {
    all: unset;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s opacity;
}

.controllers button:focus {
    outline: solid 2px var(--purple-500);  
}

.controllers button:hover {
    opacity: 0.5;
}

.controllers #pause {
    display: none;
}

.controllers img {
    object-fit: cover;
}

.progress {
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
    width: 100%; 
}

.progress-bar {
    position: relative;
    overflow: hidden;

    height: 6px;

    background-color: var(--accent);
    border-radius: 0.5rem;
}

.progress-bar:focus {
    outline: 2px solid var(--purple-500);
}

.bar {
    position: absolute;
    right: 0;
    left: 0;

    height: 100%;
    width: 0%;
    background-color: var(--white);
}

.duration-time {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration-time span {
    font-size: 0.825rem;
    color: var(--accent);
}